
<div class="row section_header">
	<div class="col-sm-6">
		<h3 id="event_title" class="section_title">Upcoming Events</h3>
	</div>
	<div style="text-align: right" class="col-sm-6">
		<a id="event_view_all" class="view-all" href="#" target="_blank">View all</a>
	</div>
</div>
<div class="row events">
	<div class="row event">
		<div class="col-xs-4 date-div">
			<div class="date">
				<h4>July</h4>
				<h1>24</h1>
			</div>
		</div>
		<div class="col-xs-8 evt-link">
			<a href="#">
				<h3 class="evt-description">EMT-B Certification Course Begins</h3>
				<h5 class="evt-time">7:30am</h5>
				<h5 class="evt-location">HCDPS</h5>
			</a>
		</div>
	</div>
	<div class="row event">
		<div class="col-xs-4 date-div">
			<div class="date">
				<h4>July</h4>
				<h1>27</h1>
			</div>
		</div>
		<div class="col-xs-8 evt-link">
			<a href="#">
				<h3 class="evt-description">Communications 101</h3>
				<h5 class="evt-time">6:00pm</h5>
				<h5 class="evt-location">HCDPS</h5>
			</a>
		</div>
	</div>
	<div class="row event">
		<div class="col-xs-4 date-div">
			<div class="date">
				<h4>June</h4>
				<h1>5</h1>
			</div>
		</div>
		<div class="col-xs-8 evt-link">
			<a href="#">
				<h3 class="evt-description">Firefighter II</h3>
				<h5 class="evt-time">8:00am</h5>
				<h5 class="evt-location">HCDPS</h5>
			</a>
		</div>
	</div>
	<div class="row event">
		<div class="col-xs-4 date-div">
			<div class="date">
				<h4>July</h4>
				<h1>20</h1>
			</div>
		</div>
		<div class="col-xs-8 evt-link">
			<a href="#">
				<h3 class="evt-description">Healthcare Provider CPR</h3>
				<h5 class="evt-time">9:30am</h5>
				<h5 class="evt-location">HCDPS</h5>
			</a>
		</div>
	</div>

</div>